{
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"printWidth": 100,
	"semi": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "lf"
}
